#chat{
  height: 500px;
  overflow: auto;
  position: absolute
  left:0;
  right:0;
  top:0;
  bottom:3em;
}
#contentWrap{
  display:none
}
#chatWrap{
  float: left;
  border: 1px #000 solid;
}
.error{
  color: red;
}
.whisper{
  color: grey;
  font-style: italic;
}
#help{
  display: inline-block;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
